[submodule "components/esp-8266/esp-button"]
	path = components/esp-8266/esp-button
	url = https://github.com/maximkulkin/esp-button
[submodule "components/common/cJSON"]
	path = components/common/cJSON
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/common/wolfssl"]
	path = components/common/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/common/homekit"]
	path = components/common/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/esp-8266/wifi_config"]
	path = components/esp-8266/wifi_config
	url = https://github.com/maximkulkin/esp-wifi-config
[submodule "components/esp-8266/led-status"]
	path = components/esp-8266/led-status
	url = https://github.com/maximkulkin/esp-led-status
[submodule "components/esp-8266/qrcode"]
	path = components/esp-8266/qrcode
	url = https://github.com/maximkulkin/esp-qrcode
